body{
    background-color: black;
}

.navbar{
    width: 100%;
    background-color: black;
    height: 50px;
}

.navlogo{
    width: 10%;
    float: left;
}
.logo{
    width: 37%;
    height: 100%;
    margin-left: 10px;
    border-radius: 50%;
}
.navsearch{
    width: 20%;
    height: 35px;
    float: left;
}
.search{
    width: 100%;
    height: 100%;
    border-radius: 11px;
    margin-top: 6px;
}

.navlink{
    width: 70%;
    float: right;
}
.ul{
    list-style: none;
    color: white;
}
.ul li{
    float: right;
    padding: 5px;
}


.ul li a{
    text-decoration: none;
}
.clear{
    clear: both;
}

.stories{
    width: 100%;
    margin-top: 30px;
    height: 267px;
}
.story1{
    width: 15%;
    height: 100%;
    float: left;
    padding-right: 4%;

}
.story2{
    width: 15%;
    height: 100%;
    float: left;
    padding-right: 4%;

}
.story3{
    width: 15%;
    height: 100%;
    padding-right: 4%;
    float: left;
}
.story4{
    width: 15%;
    padding-right: 4%;
    height: 100%;
    float: left;
}
.story5{
    width: 15%;
    padding-right: 1%;
    height: 100%;
    float: left;
}
img{
    width: 100%;
    height: 100%; 
    border-radius: 25px;
}

/* .second{
    width: 12%;
    height: 12%;
    
    position: absolute;
    top: 104px;
} */

.second_{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.second_1{
    position: absolute;
    top: 104px;
    /* left: 15px; */
    width: 4%;
    height: 50px;
    margin-left: 10px;

}
.second_2{
    position: absolute;
    top: 104px;
    /* left: 325px; */
    width: 4%;
    margin-left: 10px;
    height: 50px;
}
.second_3{
    position: absolute;
    top: 104px;
    margin-left: 10px;

    /* left: 630px; */
    width: 4%;
    height: 50px;
}
.second_4{
    position: absolute;
    top: 104px;
    /* left: 931px; */
    width: 4%;
    margin-left: 10px;
    height: 50px;
}
.second_5{
    position: absolute;
    top: 104px;
    width: 4%;
    height: 50px;
    margin-left: 10px;

}

.writing{
    background-color: grey;
    width: 100%;
    height: 60px;
    margin-top: 10px;
}
.pp{
    margin-top: 6px;
    margin-left: 3px;
    width: 50px;
    height: 50px;
    float: left;
}

.txt{
float: left;
margin-top: 14px;
padding-left: 15px;
width: 40%;
height: 35px;
}
.txt_{
    width: 100%;
    height: 100%;
    border-radius: 11px;
}

.post{
margin-top: 10px;
}


.picture{
    margin-top: 6px;
    margin-left: 3px;
    width: 50px;
    height: 50px;
    float: left;
}

.username{
float: left;
margin-top: 3px;
padding-left: 10px;
color: white;
font-weight: 300;
}

.caption{
    margin-left: 9px;
}

.paragraph{
    color: white;
}

.post_pic{
    width: 700px;
    height: 400px;
}

.post_pic_{
    width: 100%;
    height: 100%;
}